/* background dark green */
body {
    background-color: #006400;
    color: white;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* font family like florests and center*/
h1 {
    font-family: 'Floresta', cursive;
    text-align: center;
    font-size: 50px;
}

/* centralize a imagem */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}